:root{ 
    --Fondo: #fcfcfc; 
    --Menú: #161515d2; 
   --Login: #00719e;
   --Hover:#bdc6db;
   --letra:#000000,#333333 ;
}
        body {
            font-family: Arial, sans-serif;
            background-color: #fcfcfc;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
 .cabecera { 
 background-color: #161616d2;
 position:fixed; 
 top:0;
 left:0;
 width: 99%;
 transition: top 0.3s;
 padding: 20px;
 overflow: hidden;
}
.logo img {
position: fixed;


    width: 60px;            /* Ajusta el tamaño según tus necesidades */
    height: 60px;
    border-radius: 50%;     /* Hace el logo circular */
    object-fit: cover;      /* Asegura que la imagen se ajuste bien en el círculo */
    margin-left: 20px;
    border: 2px solid #ffffff; /* Borde opcional alrededor del logo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle efecto */

}


.menu{
    display: inline-flex;
    text-align: center;
    float: right;
}
.menu>ul{
    float: right;
    display: inline-flex;
    text-decoration: none;
    right: 2;
    list-style-type: none;
}
menu>ul>li{
    padding:  10px;
    text-decoration: none;
    list-style: none;
}
.menu>ul>li>a{
    text-decoration: none;
    color: #333333;
    padding: 10px;
}
.menu>ul>li> a:hover{
    color: #fcfcfc;
    padding: 20px;
    background-color: #383838d2;
    border-radius: 5px;
}

 .login {
     background-color: white;
    padding: 20px;
     border-radius: 10px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     width: 300px;
        }

        .login h2 {
            text-align: center;
            margin-bottom: 20px;
        }

        .login input[type="text"], .login input[type="password"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .login input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color:#181818d2 ;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .login input[type="submit"]:hover {
            background-color: #bdc6db;
        }
        .footer{ position: absolute;
            bottom:0;
            width: 100%;
        }